<!DOCTYPE html>
<html>

<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bulma.css') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<section class="hero is-primary is-medium">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div id="navbarMenuHeroA" class="navbar-menu">
                    <div class="navbar-end">
                        <a href="{{ url_for('main.index') }}" class="navbar-item">
                            Home
                        </a>
                        {% if current_user.is_authenticated %}
                        <a href="{{ url_for('main.profile') }}" class="navbar-item">
                            Twój profil
                        </a>
                        {% endif %}
                        {% if not current_user.is_authenticated %}
                        <a href="{{ url_for('auth.login') }}" class="navbar-item">
                            Login
                        </a>
                        <a href="{{ url_for('auth.register') }}" class="navbar-item">
                            Rejestracja
                        </a>
                        {% endif %}
                        {% if current_user.is_authenticated %}
                        <a href="{{ url_for('auth.logout') }}" class="navbar-item">
                            Wyloguj
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="hero-body">
        <div class="container has-text-centered">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</section>
</body>
<footer class="hero-foot">
    <div>
        <p>&copy B. Kochanowski 2020 </p>
        <a href="https://bulma.io">
            <img src="https://bulma.io/images/made-with-bulma.png" alt="Made with Bulma" width="128" height="24">
        </a>
    </div>
</footer>
</html>
